VITE_SUPABASE_URL=https://bympghvamkygrkvfzyxw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5bXBnaHZhbWt5Z3JrdmZ6eXh3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0NjE2MjksImV4cCI6MjA5MjAzNzYyOX0.__SZhqQYrYb01nIiF-459ekZNoc2fgz7JFxjS3XJGQM
VITE_PROMOTOR_BASE_URL=https://credshow-promotor.vercel.app
